{% extends 'layout.html' %}

{% block content %}
    <div class="item">
        <h1>Saved Words</h1>
        <ul id="saved-words-list">
        </ul>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let savedWords = JSON.parse(localStorage.getItem('savedWords')) || [];
            let savedWordsList = document.getElementById('saved-words-list');

            function renderSavedWords() {
                savedWordsList.innerHTML = '';

                if (savedWords.length > 0) {
                    savedWords.forEach(function(word) {
                        let li = document.createElement('li');
                        let span = document.createElement('span');
                        let p = document.createElement('p');

                        span.classList.add('delete-icon');
                        span.textContent = "❌";

                        p.textContent = word;
                        p.classList.add('clickable-word');
                        p.setAttribute('data-word', word);

                        li.classList.add('favorite-li');
                        li.appendChild(span);
                        li.appendChild(p);
                        savedWordsList.appendChild(li);
                    });
                } else {
                    savedWordsList.textContent = "No words saved yet.";
                }

                document.querySelectorAll('.clickable-word').forEach(function(element) {
                    element.addEventListener('click', function() {
                        const word = this.getAttribute('data-word');
                        window.location.href = `/word/${word}`;
                    });
                });

                document.querySelectorAll('.delete-icon').forEach(function(element) {
                    element.addEventListener('click', function() {
                        const word = this.nextElementSibling.getAttribute('data-word');
                        savedWords = savedWords.filter(w => w !== word);
                        localStorage.setItem('savedWords', JSON.stringify(savedWords));
                        renderSavedWords();
                    });
                });
            }

            renderSavedWords();
        });
    </script>
{% endblock %}
