
{% block head %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <title>RDICT</title>
        </head>
{% endblock %}

<body>
    {% block header %}
        <ul class="header">
            <li><a id="home-link" href="#">HOME</a></li>
            <li><a id="saved-words-link" href="#">SAVED WORDS</a></li>
        </ul>
    {% endblock %}

    <main>
        <div id="content">{% block content %}{% endblock %}</div>
    </main>

    {% block footer %}
        <footer>
            Made by <a href="https://github.com/slocksert" target="_blank">slocksert</a>
        </footer>
    {% endblock %}

    <script>
        var baseUrl = window.location.origin
        document.getElementById('home-link').href = baseUrl
        document.getElementById('saved-words-link').href = baseUrl + "/words"
    </script>
</body>
</html>