
{% block head %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <title>RDICT</title>
        </head>
{% endblock %}

<body>
    {% block header %}
        <ul class="header">
            <li><a href="https://rdict.onrender.com">HOME</a></li>
            <li><a href="https://rdict.onrender.com/words">SAVED WORDS</a></li>
        </ul>
    {% endblock %}

    <main>
        <div id="content">{% block content %}{% endblock %}</div>
    </main>

    {% block footer %}
        <footer>
            Made by <a href="https://github.com/slocksert" target="_blank">slocksert</a>
        </footer>
    {% endblock %}
</body>
</html>